/* styles.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
    background: linear-gradient(to bottom,  #000000 60%,#28292b 100%); 
    font-size: 16px; /* 假設正常情況下的字體大小為 16px */

  }

  #logo-D{
    /* text-align: center; */
    position: relative;
  text-align: center;
  margin-top: 10px; /* 調整上邊距以使圖片位於螢幕中央 */
    
  }  

  #logo-I {
    
    position:fixed;

    transform: translate(-500px,-360px) scale(0.6);;
    max-width: 100%;
    height: auto;
  
  max-height: 80vh; /* 限制圖片的最大高度為視窗高度的80% */
    opacity: 0; /* 初始透明度为0，完全透明 */
    transition: opacity 12s ease-in; /* 添加过渡效果，持续1秒，使用ease函数 */
  }

  #hover-div {
    text-align: center; /*居中*/
    position: fixed; /*相對位置*/
  }

  .hover-area {
    
    padding: 10px;
    /* border: 2px solid #000000; */
    cursor: pointer;
    font-size: 60px;
    color: #ffffff;
    position: relative; 
    /* top: 20%; */
    top: 60%;
    right: 47%;
    z-index: 2 ;
  }
  
  #h-img {
    display: none;
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-220px,0px);
    width: 250px; 
    height: auto;
    z-index: -20;
    opacity: 1;
  }
  
  #hover-div:hover #h-img {
    display: block;
  }


  
  #mp3-player {
    position: fixed;
    top: 20px; /* 调整到右上角，距离顶部20px */
    right: 20px; /* 调整到右上角，距离右侧20px */
    text-align: center;
  }

  .link1 {
    color: #ffffff; /* 设置超链接文字颜色 */
    text-decoration: none; /* 去除底线 */
    color:#635e5e;
    font:45px bold normal BrushScriptStdMedium;
    text-shadow:0px 0px 5px #6c6868;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -otransition: all 0.5s linear;
    transition: all 0.5s linear;
    position: fixed;
    top: 50%;
    right: 50%;
    transform: translate(40px,95px)
  }
  


  .link1:hover {
    color:#ffffff;
    text-shadow:0px 0px 5px #9a8484a1;
  }

  /* 在 FFVII.css 中新增或修改下面的 CSS 規則 */

/* 小型設備，比如手機 */
@media (max-width: 576px) {
  /* 在這裡新增你的 CSS 規則，用於小型設備 */
  .link1 {
      font-size: 35px; /* 例如，調整字體大小 */
      position: fixed;
      height: auto;
      top: 50%; /* 將元素定位於父元素的垂直中心 */
    left: 50%; /* 將元素定位於父元素的水平中心 */
    transform: translate(-70px, 80px); /* 將元素水平和垂直居中 */
  }
  #h-img{
    
    position:fixed;
    top: 50%;
    left: 50%;
    transform: translate(-145px,24px);
    width: 150px; 
    height: auto;
    z-index: -20;
    opacity: 1;

  }
}

/* 中型設備，比如平板 */
@media (min-width: 577px) and (max-width: 992px) {
  /* 在這裡新增你的 CSS 規則，用於中型設備 */
  body {
      font-size: 16px; /* 例如，調整字體大小 */
  }
}

/* 大型設備，比如桌面 */
@media (min-width: 993px) {
  /* 在這裡新增你的 CSS 規則，用於大型設備 */
  body {
      font-size: 18px; /* 例如，調整字體大小 */
  }
}
